spring:
  cloud:
    aws:
      endpoint: http://localstack:4566
      region:
        static: us-east-1
      credentials:
        access-key: test
        secret-key: test

# Configurações específicas para o AppConfig no ambiente Docker
appconfig:
  application-id: orchestrator-app
  environment-id: dev
  configuration-profile-id: features

server:
  tomcat:
    threads:
      max: 200
      min-spare: 10
    accept-count: 100
    max-connections: 10000
