<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <!-- Usamos o lookup customizado que lê do ScopedValue via ContextHolder -->
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] [%ctx_val:correlation_id:-] [%ctx_val:node_id:-] %-5level %logger{36} - %msg%n"/>
        </Console>

        <!-- Appender Assíncrono: O segredo da performance com Virtual Threads -->
        <Async name="AsyncConsole">
            <AppenderRef ref="Console"/>
            <ArrayBlockingQueue/>
        </Async>
    </Appenders>

    <Loggers>
        <Root level="ERROR">
            <AppenderRef ref="AsyncConsole"/>
        </Root>
    </Loggers>
</Configuration>
