<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <!--
                Tentamos o lookup customizado. Se falhar, o Log4j2 mostrará o texto literal.
                Adicionei um valor padrão '-' para o caso de não encontrar.
            -->
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] [%ctx_val:correlation_id:-] [%ctx_val:node_id:-] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
