<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <!-- OTIMIZAÇÃO: Usamos YieldingWaitStrategy para reduzir contenção de monitor -->
        <Async name="Async" bufferSize="262144" includeLocation="false">
            <AppenderRef ref="Console"/>
        </Async>
    </Appenders>

    <Loggers>
        <Logger name="org.springframework" level="ERROR"/>
        <Logger name="org.hibernate" level="ERROR"/>
        <!-- Silenciamos a telemetria no log para salvar CPU -->
        <Logger name="br.com.orquestrator.orquestrator.core.engine.runtime.TelemetryDecorator" level="ERROR"/>

        <Root level="DEBUG">
            <AppenderRef ref="Async"/>
        </Root>
    </Loggers>
</Configuration>
